@model IEnumerable<AUT02_02_GaldonMario_Listas.Models.Personaje>

@{
    ViewData["Title"] = "Visor de Lista ";
}

<h1>Visor de Lista</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroHijos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Familia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroHijos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Familia)
            </td>
            <td>@Html.ActionLink("Borrar","Delete","Personaje",new{item.Id},null)</td>
        </tr>





}
    </tbody>
</table>
